<nav>
  <div class="menu">
    <a class="logo" routerLink="/home" routerLinkActive="router-link-active" (click)="closeMenu()"><mat-icon
        class="mat-18">calculate</mat-icon></a>
    <a data-activates="menu-mobile" class="button-collapse" *ngIf="!menuValue"(click)="openMenu()"><mat-icon class="mat-18 menu-icon">menu</mat-icon></a>
    <a data-activates="menu-mobile" class="button-collapse" *ngIf="menuValue" (click)="closeMenu()" style="color: yellow;"><mat-icon class="mat-18 menu-icon">close</mat-icon></a>
    <ul class="right">
      <li *ngFor="let item of sidebarItems"><a  routerLinkActive="router-link-active"  routerLink="{{item.link}}"
          routerLinkActive="router-link-active">{{item.label}}</a></li>
    </ul>
    <ul class="side-nav" id="menu-mobile" [class.open]="menuValue">
      <li *ngFor="let item of sidebarItems"  ><a routerLink="{{item.link}}"
          routerLinkActive="router-link-active-mobile" (click)="closeMenu()">{{item.label}}</a></li>
    </ul>
  </div>
</nav>
