<div class="newsletter">
  <div class="content">
    <div class="product">
      <h3>Productos</h3>
      <p> <a href="#"> Atende.Startup</a></p>
      <p></p>
    </div>
    <div class="resource">
      <h3>Recursos</h3>
      <p><a target="_blank"
          href="https://github.com/JocasChitende31/calculadora-sqrt-usando-pipe-e-lazy-loading">GitHub</a></p>
      <p><a target="_blank" href="https://angular.io">Angular</a></p>
      <p><a target="_blank" href="https://angular.io/api/core/Pipe">Pipes</a></p>
      <p><a target="_blank" href="https://angular.io/guide/lazy-loading-ngmodules">Module</a></p>
      <p><a href="#">Blog</a></p>
    </div>
    <div class="contact">
      <h3>Contactos</h3>
      <p><a href="mailto:joshtende03@gmail.com">E-mail</a></p>
      <p><a href="#">Telefone</a></p>
    </div>
    <div class="address">
      <h3>Endereço</h3>
      <p><a href="#">Kilamba-Kiáxi, Luanda, Angola</a></p>
    </div>
  </div>
</div>
<hr>
<div class="social">
  <a target="_blank" class="linkedin"
    href="https://www.linkedin.com/in/jeorgel-chitende-110b471a8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a>
  <a target="_blank" class="twitter" href="https://twitter.com/TendeJay">Twitter</a>
  <a target="_blank" class="youtube" href="https://youtube.com/@JeoChitende31?si=6HiMZ29k_bq0fmt-">YouTube</a>
  <a class="instagram" href="">Instagram</a>
</div>
<div class="footer">
  <p class="copyright"> Copyright &copy;{{year}} <b>Atende.Startup</b></p>
</div>
