<div class="newsletter">
  <div class="content">
    <div class="product">
      <h3>Productos</h3>
      <p> <a href="#"> Atende.Startup</a></p>
      <p></p>
    </div>
    <div class="resource">
      <h3>Recursos</h3>
      <p><a href="#">GitHub</a></p>
      <p><a href="#">Angular</a></p>
      <p><a href="#">Pipes</a></p>
      <p><a href="#">Module</a></p>
    </div>
    <div class="contact">
      <h3>Contactos</h3>
      <p><a href="#">E-mail</a></p>
      <p><a href="#">Telefone</a></p>
    </div>
    <div class="address">
      <h3>Endereço</h3>
      <p><a href="#">Kilamba-Kiáxi, Luanda, Angola</a></p>
    </div>
  </div>
</div>
<hr>
<div class="social">
  <a class="linkedin" href="">LinkedIn</a>
  <a class="twitter" href="">Twitter</a>
  <a class="youtube" href="">YouTube</a>
  <a class="instagram" href="">Instagram</a>

</div>
<div class="footer">
  <p class="copyright">&copy;{{year}} Copyright: <b>Atende.Startup</b></p>
</div>
