<h1 class="title">{{pageTitle}}</h1>
<hr>
<div class="about">
  <p>
    <b>O make it simple</b> : é um pequeno projecto da Atende.startup construído com o Angular17. O mesmo simula uma
    pequena e
    simples calculador com as operações de (soma, subtração, multiplicação, tabuada e raiz quadra, e em breve
    aumentar-se-à
    mais operações).
  </p>
  <p>
    Pensou-se em um projecto simples e prático, que de certa forma desperte o interesse de quem navegue nele, mas também
    serviu para ajudar quem desenvolveu a pôr em prática a temática de <a target="_parent"
      href="https://angular.io/guide/lazy-loading-ngmodules">lazy-loading</a> e de <a
      href="https://angular.io/api/core/Pipe">pipes</a>.
  </p>

  <p>
    Este projecto criou-se na tentativa de entender e aplicar as técnicas de <a target="_blank"
      href="https://angular.io/api/core/Pipe">“pipe”</a> que é usada para fazer uma conversão ou
    formatação de dados directamente no template do componente .html e de <a target="_blank"
      href="https://angular.io/guide/lazy-loading-ngmodules">“lazy-loading”</a> - técnica usada para optimização de
    sites,
    que consiste em isolar módulos com o propósito de serem carregados apenas quando necessário, elevando assim o
    desempenho do site de forma considerável.
  </p>
  <p>Ademais, só para ressalatar que toda lógica das operações é feita por <a target="_blank"
    href="https://angular.io/api/core/Pipe">pipes</a>, com a ajuda do <a target="_blank"
    href="https://angular.io/guide/reactive-forms">reactive-forms</a> para a inserção e
    recuperação de valores a partir do formúlario.</p>
</div>
