*{
  margin: 0;
  padding: 0;
}
.menu{
  width: 100%;
  background-color: cadetblue ;
}
.menu li{
  display:flex;
  padding: 0 50px;
}

.menu li ul{
  margin: 0 10px;
  list-style: none;
  padding: 23px 0;

}
.menu li ul a{
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  padding: 20px 0;
}
.menu .home{
  font-weight: bolder;

}
.menu .home a{
  letter-spacing: 1px;
}
.menu li ul a:hover{
  color:antiquewhite;
  border-bottom: 3px solid antiquewhite;
  cursor: pointer;
}
.router-link-active{
  color:antiquewhite;
  border-bottom: 3px solid antiquewhite;
}
