<h1 class="title">Make It Simple: Modúlo Raiz</h1>
  <hr>
<div class="content">

  <div class="sqrt">
    <h4>
      Por Favor! Digite o número desejado<i style="color: red;">*</i>
    </h4>
    <form [formGroup]="form">
      <div class="control-group">
        <input type="number" name="numero" id="numero" formControlName="numero" required="true">
        <button class="btn btn-primary" (click)="getResult()">Calcular</button>
      </div>
    </form>
    <div class="result" style="text-align: center;" *ngIf="numInput>=0 && sms === '' ">
      <b>A raiz quadrada de {{numInput}} é:</b>
      <hr>
      <p class="success">{{numInput | sqrt}}</p>
    </div>
    <div class="result"  *ngIf="sms != ''">
      <p class="error">{{sms}}</p>
      <button class="btn-danger" style="text-align: right;" (click)="resetForm()">Reset Form</button>
    </div>

  </div>
</div>
