<h1 class="title">{{pageTitle}}</h1>
<hr>
<div class="home">
  <div class="content">
    <div class="btn-get-start">
      <h1 class="title-get-satrt">Make It Simple</h1>
      <p>= Simplificando =</p>
      <p>espaço para si e seu pequeno, volte sempre que desejar</p>
    </div>
  </div>
  <div class="bg-left">
    <div class="left-t-bg">
      <img class="left"
        src="https://img.freepik.com/vetores-gratis/orcamento-de-pessoas-para-planejar-financas-pessoais_53876-66058.jpg?w=740&t=st=1713702395~exp=1713702995~hmac=f5b04439a12ec78f47a7f77c7ebbd9d046477cc9fa67626fff9225a727234610"
        alt="">

    </div>
  </div>
  <div class="bg-right">
    <div class="right-b-bg">
      <img class="right"
        src="https://img.freepik.com/vetores-gratis/criancas-aprendendo-numeros-e-matematica_53876-40274.jpg?t=st=1713703450~exp=1713707050~hmac=a48ae8d17b1320441dc00361d32135f13c8b90d9f5b48ef27d14fd43b766d881&w=826"
        alt="">
    </div>
  </div>



</div>
